<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div class="container__cover">
            <div class="cover">
                <div class="text">
                    <h1>Fundación Loto Tres</h1>
                    <p>Somos una organización sin fines de lucro cuyo objetivo más importante es expandir nuestra causa en favor de los que menos tienen.</p>
                      <p> Asi mismo apoyar, capacitar y proporcionar recursos de alta calidad a nuestra comunidad en un entorno seguro. Nuestro éxito no se mide en términos de riqueza o márgenes de ganancia, sino por el valor que brindamos a aquellos grupos vulnerables a quienes atendemos.  </p>
                    <input type="button" value="DONAR">
                </div>

                <div class="svg">
                    <img src="https://fondify-media.s3.amazonaws.com/organizations/covers/2021-07-12/picture_PL6RTId.png" alt="">
                </div>
            </div>
        </div>
    </main>
    <script src="js/script.js"></script>
</body>
</html>
<body>
  <main>
    <div data-aos="flip-left" class="container">
      <div class="row">
        <div class="col s12 m6">
          <iframe width="550" height="300"
            class="responsive-video"
            src="https://www.youtube.com/embed/8CQwYQstdiE"
            frameborder="0"
            allow="accelerometer;
      autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="text-info"><i class="title">Se tú la diferencia.</i></h2>
            <p class="light text-align frases">
              <i class="title">
                "Las grandes oportunidades para ayudar a los demás raras veces
                vienen pero las pequeñas todos los días nos rodean"
                <b>Sally Koch.</b></i
              >
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <iframe width="550" height="300"
            src="https://www.youtube.com/embed/q6wCPD7Ughk"
            frameborder="0"
            allow="accelerometer;
          autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="text-info">
              <i class="title">Apoya nuestra campaña.</i>
            </h2>
            <p class="light text-align frases">
              <i class="title">
                "Un hombre sólo tiene derecho a mirar a otro hacia abajo, cuando
                ha de ayudarle a levantarse" <b>Gabriel García Márquez</b>
                <br />
                <b>¿ Deseas Apoyar ? <a href="">Dona aquí.</a></b></i
              >
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <iframe width="550" height="300"
            src="https://web.facebook.com/plugins/video.php?href=https%3A%2F%2Fweb.facebook.com%2Ffundacionlototresac%2Fvideos%2F543035226155638%2F&show_text=0&width=560"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allowFullScreen="true"
            autoplay="true"
          ></iframe>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="text-info">
              <i class="title">Actividad Meditación.</i>
            </h2>
            <p class="light text-align frases">
              <i class="title">
                "Nada libera nuestra grandeza como el deseo de ayudar y de
                servir"
                <b>Marianne Williamson</b> <br
              /></i>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <iframe width="550" height="300"
            src="https://web.facebook.com/plugins/video.php?href=https%3A%2F%2Fweb.facebook.com%2Ffundacionlototresac%2Fvideos%2F2620700114651007%2F&show_text=0&width=560"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allowFullScreen="true"
          ></iframe>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="text-info"><i class="title">Actividad Yoga.</i></h2>
            <p class="light text-align frases">
              <i class="title"
                >"La esencia de la vida es servir a los demás y hacer el bien"
                <b>Aristóteles.</b> <br
              /></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
  <!--FOOTER-->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Contacto</h4>
          <ul>
            <li><a> Celular: (55) 23089192</a></li>
            <li><a>Local: (55) 5938 0797</a></li>
            <li><a>Correo Electronico: lototres@gmail.com</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Enlaces</h4>
          <ul>
            <li><a href="/auth/actividades">Actividades</a></li>
            <li><a href="/auth/donaciones">Donaciones</a></li>
            <li><a href="/auth/testimoniales">Testimoniales</a></li>
            <li><a href="/auth/difusion">Difusión</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Te invitamos a seguirnos en nuestras redes sociales</h4>
          <div class="social-links">
            <a href="https://www.facebook.com/fundacionlototresac"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a href="https://www.youtube.com/channel/UC1Eg93TeFfm2BLNo4gwNGQw"
              ><i class="fab fa-youtube"></i
            ></a>
            <a href="https://twitter.com/LotoTres"
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              href="https://www.instagram.com/explore/locations/691734080880963/fundacion-loto-tres-ac/"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
        <div class="footer-col">
          <h4>Hospedaje y Dominio donado por &copy;NEUBOX INTERNET</h4>
        </div>
      </div>
    </div>
  </footer>

