
<nav class="bl-navbar flex fixed-top"  >
  <ul class="menu"> <li class="logo"><a href="#">Fundaciòn Loto Tres A.C</a></li>
<li class="item"><a routerLink="/auth/informacion">INICIO</a></li>
<li class="item"><a routerLink="/auth/actividades">ACTIVIDADES</a></li>
 <li class="item"><a routerLink="/auth/donaciones">DONACIONES</a></li>
  <li class="item"><a routerLink="/auth/testimoniales">TESTIMONIALES</a>
  </li> <li class="item"><a routerLink="/auth/difusion">DIFUSIÒN</a></li>
  <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li> </ul> </nav>
  <router-outlet></router-outlet>
