<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div class="container__cover">
            <div class="cover">
                <div class="text">
                    <h1>Fundación Loto Tres</h1>
                    <p>Somos una organización sin fines de lucro cuyo objetivo más importante es expandir nuestra causa en favor de los que menos tienen.</p>
                      <p> Asi mismo apoyar, capacitar y proporcionar recursos de alta calidad a nuestra comunidad en un entorno seguro. Nuestro éxito no se mide en términos de riqueza o márgenes de ganancia, sino por el valor que brindamos a aquellos grupos vulnerables a quienes atendemos.  </p>
                    <input type="button" value="DONAR">
                </div>

                <div class="svg">
                    <img src="https://fondify-media.s3.amazonaws.com/organizations/covers/2021-07-12/picture_PL6RTId.png" alt="">
                </div>
            </div>
        </div>

    </main>
    <script src="js/script.js"></script>
</body>
   <div class="title-cards">
    <h2 class="text-info">Clabe bancaria</h2>
    <div class="title-cards">
      <h2 class="text-info">Banco Azteca</h2>
    </div>
    <h3>Número de cuenta: 97090127383517</h3>
    <h3>Clabe: 127180001273835176</h3>
  </div>
  <section class="portafolio">
    <div class="contenedor">
      <h2 class="titulo">TE PUEDE INTERESAR...!!</h2>
      <div data-aos="fade-up-left" class="galeria-port">
        <div class="imagen-port">
          <img
            src="https://lototres.org/img/46408096_333035537287828_1355852163812687872_n.jpg"
          />
          <div class="hover-galeria">
            <img
              src="https://yt3.ggpht.com/ytc/AKedOLSAP9O1BIOnSEdL2zleaT_aE4N6R_oHo38a-P6gTQ=s900-c-k-c0x00ffffff-no-rj"
            />
            <p>¡Emilio contra la discapacidad visual!</p>
          </div>
        </div>
        <div data-aos="fade-up-left" class="imagen-port">
          <img
            src="https://lototres.org/img/46349058_286695288645678_4688150459364409344_n.jpg"
            alt=""
          />
          <div class="hover-galeria">
            <img
              src="https://yt3.ggpht.com/ytc/AKedOLSAP9O1BIOnSEdL2zleaT_aE4N6R_oHo38a-P6gTQ=s900-c-k-c0x00ffffff-no-rj"
            />
            <p>¡Pablo constructor de esperanzas!</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="https://lototres.org/img/IMG-20181109-WA0002.jpg" alt="" />
          <div class="hover-galeria">
            <img
              src="https://yt3.ggpht.com/ytc/AKedOLSAP9O1BIOnSEdL2zleaT_aE4N6R_oHo38a-P6gTQ=s900-c-k-c0x00ffffff-no-rj"
              alt=""
            />
            <p>¡Matias, la vista un regalo de vida!</p>
          </div>
        </div>
      </div>
    </div>
  </section>


<!--FOOTER-->
<footer data-aos="fade-left" class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Contacto</h4>
        <ul>
          <li><a> Celular: (55) 23089192</a></li>
          <li><a>Local: (55) 5938 0797</a></li>
          <li><a>Correo Electronico: lototres@gmail.com</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Enlaces</h4>
        <ul>
          <li><a href="/auth/actividades">Actividades</a></li>
          <li><a href="/auth/donaciones">Donaciones</a></li>
          <li><a href="/auth/testimoniales">Testimoniales</a></li>
          <li><a href="/auth/difusion">Difusión</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Te invitamos a seguirnos en nuestras redes sociales</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/fundacionlototresac"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="https://www.youtube.com/channel/UC1Eg93TeFfm2BLNo4gwNGQw"
            ><i class="fab fa-youtube"></i
          ></a>
          <a href="https://twitter.com/LotoTres"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            href="https://www.instagram.com/explore/locations/691734080880963/fundacion-loto-tres-ac/"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
      <div class="footer-col">
        <h4>Hospedaje y Dominio donado por &copy;NEUBOX INTERNET</h4>
      </div>
    </div>
  </div>
</footer>
